# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store

# dataset
r128-256.bin
test_r128-512.bin
data
r375-400.bin
info*
save
snapshot*
bicubic
oldlog


# Any Images
*/*.jpg
*/*.JPG
*/*.jpeg
*/*.JPEG
*/*.PNG
*/*.png

# Experimental Project
SRLSTM/
